@import '@/assets/scss/reset.scss';
@import '@/assets/scss/font.scss';
@import '@/assets/scss/responsividade.scss';
@import '@/assets/scss/colors.scss';

.footer {
    background-color: $color-footer;
    
    .footer__title {
        font-family: $font;
        text-align: center;
        color: $color-text-secondary;
        padding: 15px;
        .footer__title__link {
            color: $color-text-primary;
            text-decoration: none;
        }
    }
}
